body {
    background-color: #333;
    color: #eee;
    font-family: sans-serif;
    margin: 0;
}

#content {
}

#content > .outline-2 {
    padding: 10px 0;
    margin-bottom: 10px;
}

#outline-container-webuddha {
    background-color: white;
    color: #333;
}

#outline-container-services {
    border: 1px solid black;
    width: 80vw;
    margin: 0 auto;
}

#outline-container-services .outline-3 {
    display: none;
}

#outline-container-services .active {
    display: block;
}

#outline-container-about {
    border: 1px solid black;
    width: 80vw;
    margin: 0 auto;
}
