body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(235, 235, 235);
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

#header, .about, .case_studies, .testimonials, .contact, #footer {
  width: 90vw;
  margin: 0 auto;
}

/* ---------------------------------- Header  */
#header {
  padding: 10px;
  text-align: right;
}
#header h1 {
  margin-top: 0;
}

#main_menu {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

#main_menu li {
  padding-right: 10px;
}

/* ---------------------------------- CTA  */
#cta {
  background-color: #fff;
  padding: 20px 0;
}

.cta-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 90vw;
  margin: 0 auto;
}

.cta-list li {
  margin: 0;
  height: 40vh;
  width: 90vw;
}

.cta-list li div {
  padding: 0 30px;
}

/* ---------------------------------- Services  */
#services {
  padding: 30px;
}

#services ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 90vw;
}

/* ---------------------------------- About  */
#about section {
  width: 90vw;
  margin: 0 auto;
}

#about img {
  max-height: 100px;
}